
// variables 

//colors
$red: #880A04;
$white: #ffffff;
$grey: #F3F3F3;

//fonts
$freight: "freight-display-pro";
$source: "source-sans-pro";

//layout

body {

	background-color: blue;
}

.main {
		min-width:100%;
		position:relative;
		top:170px;
		z-index:-1;
}

.topBar {

		height: 80px;
		min-width: 100%;
		background-color: orange;
		z-index: 2;
		position: fixed;

}

.darkContainer {

		background-color: $grey;
		margin-top: 50px;	

}

.containerContent {

		padding: 50px;
}


//menuTriggers

.menuTrigger {

		margin-top: 15px;
		font-family: $freight;
		font-weight: 700; 
		font-style: normal;
		font-size: 30px;
		vertical-align: middle;
		
}

.menuTrigger:hover{

		cursor: pointer;
}

#menuWord {

		display: inline-block;	
		//vertical-align: middle;

}

#hamburger {
		display: inline-block;
		//vertical-align: middle;
}

//actual menu

.menu {

		min-height: 100%;
		//width: 25%;
		background-color: $red;
		color: $white;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 50%;
		z-index: 0;
		text-align: right;

}

.menuHead {
		//margin-right: 50px;
		margin-top: 50px;
		padding-bottom: 50px;
}


//menuItems

.menuItem {
		text-decoration:none;
		list-style-type:none;
		//margin-right: 150px;
		font-family: $source;
		font-size: 25px;
		font-weight: 300;
		padding-top:10px;

}



//headings

h1 {

		font-family: $freight;
		font-size: 65px;
		font-weight: 400;
		//padding-right: 50px;

}


h2 {

		text-align: center;
		//margin-top: 50px;
		margin-bottom: 40px;
		font-family: $freight;
		font-weight: 300;
		font-size: 38px;
		color: $red;

}

//paragraph styles

p {

		font-family: $source;
		font-weight: 400;
		font-size: 18px;
}


//buttons

.redBtn {

		display:block;
		height:100%;
		width:100%;
		border: 3px solid;
		border-color: $red;
		color: $red;
		font-family: $source;
		font-weight: 700;
		font-size: 25px;
		padding: 6px;
		background-color: $white;

}

.redBtn:hover {

		cursor: pointer;	
		//background-color: yellow;
		//color: yellow;
		//border-color: yellow;

}


#homeBtn {

		margin-top: 40px;

}


//img grid

.gridImg {

		padding: 2px;
		float: right;
		height: 33%;
		width: 33%;
}



//links
	
a {
	text-decoration: none;
	color:$white;

}

a:hover{
	text-decoration: none;
	cursor: pointer;
	color: $white;
}

//media query for tablet size

@media (max-width: 992px) {

	.gridImg {
		
		width: 33%;
	}

	body {

		background-color: yellow;
	}

	h1 {

		font-size: 50px;
	}

}

//media query for mobile size


@media (max-width: 768px) {

	body {
		background-color: green;
	}

	.gridImg {
		
		width: 50%;
	}

	.container {
		padding: 0px;
		margin: 0px;
	}


	h1{

		text-align: center;
		top: 50%;
		//margin: 5px;
	}

	#homeBtn {

		min-width: 100%;
		margin: 0px;
		padding: 15px;
		background-color: $red;
		color: $white;
		font-weight: 600;

	}

	.menu {

		left: 0px;
	}

}




