/* $ makes something a variable */

$red: #880A04;
$freight: "freight-display-pro";

.topBar {

	height: 80px;
	min-width: 100%;
	background-color: yellow;
	z-index: 2;
	position: fixed;

}

.container {

	padding-right: 150px;
	padding-left: 150px;
}


//menu trigger

.menuTrigger {

	margin-top: 15px;
	font-family: $freight;
	font-weight: 700; 
	font-style: normal;
	font-size: 30px;
	vertical-align: middle;
	
}

.menuTrigger:hover{

	cursor: pointer;
}

#menuWord {

	display: inline-block;	
	//vertical-align: middle;

}

#hamburger {
	display: inline-block;
	//vertical-align: middle;
}


// begin menu

.menu {

	min-height: 100%;
	width: 100%;
	background-color: $red;
	color: white;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	text-align: right;

}

.menuHead {
	margin-right: 50px;
	margin-top: 50px;
}


.menuItem {
	text-decoration:none;
	list-style-type:none;
	margin-right:50px;
}


// main body content of each page


.main {
	min-width:100%;
	position:relative;
	top:170px;
	z-index:-1;
}

h1 {

	text-align: right;
	margin-top: 0px;
	font-family: $freight;
	font-size: 65px;
	padding-right: 50px;

}


//img grids

.gridImg {

	padding: 2px;
	float:right;
	height: 33%;
	width: 33%;
}

