	<!-- main content -->
<div ng-controller="HomeCtrl">
	<div class="main">
		<div class="row darkContainer">
			<div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-8 col-md-10 col-sm-10 col-xs-10 containerContent">
				<h2>mission</h2>
				<p>
					Turducken pig brisket, meatloaf turkey tri-tip venison tail alcatra shankle cupim cow. Cow ham hock kielbasa shankle, fatback strip steak pig jowl beef ribs salami boudin porchetta sausage. Pancetta prosciutto chuck, tenderloin leberkas pastrami beef ribs ham hock shankle meatball venison shank jowl. Pork loin salami biltong tail corned beef. Beef andouille filet mignon bresaola short loin pastrami chicken. Salami meatloaf short ribs, pancetta kielbasa pork belly chicken fatback shank landjaeger.
					Bacon shankle ribeye, shoulder short ribs drumstick pork loin beef frankfurter kielbasa salami jowl tail. Corned beef jerky picanha, ground round shoulder beef ribs beef. Turducken ribeye andouille fatback. Porchetta prosciutto pancetta ball tip, capicola pork belly pastrami leberkas salami tri-tip biltong frankfurter pork loin shank. Chicken cupim sirloin spare ribs. Strip steak doner filet mignon, pancetta t-bone boudin jerky pig jowl corned beef shank shoulder.
					Pork belly prosciutto tenderloin cow sirloin turkey venison tongue fatback. Venison spare ribs prosciutto pork chop sirloin meatloaf kielbasa alcatra capicola shoulder. Prosciutto bacon hamburger strip steak. Beef andouille hamburger drumstick ham hock pork jerky meatball short ribs frankfurter swine turducken biltong porchetta turkey. Pancetta jowl chuck, rump hamburger short loin andouille turducken pastrami corned beef. Spare ribs ham hock pork loin, beef ribs kielbasa rump brisket. Pastrami drumstick pork belly ribeye strip steak prosciutto beef bacon.</p>
				</div>
				<div class="col-lg-2 col-md-1 col-sm-1 col-xs-10"></div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-8 col-md-10 col-sm-10 col-xs-10 containerContent">
				<h2>history</h2>
				<p>
					Turducken pig brisket, meatloaf turkey tri-tip venison tail alcatra shankle cupim cow. Cow ham hock kielbasa shankle, fatback strip steak pig jowl beef ribs salami boudin porchetta sausage. Pancetta prosciutto chuck, tenderloin leberkas pastrami beef ribs ham hock shankle meatball venison shank jowl. Pork loin salami biltong tail corned beef. Beef andouille filet mignon bresaola short loin pastrami chicken. Salami meatloaf short ribs, pancetta kielbasa pork belly chicken fatback shank landjaeger.
					Bacon shankle ribeye, shoulder short ribs drumstick pork loin beef frankfurter kielbasa salami jowl tail. Corned beef jerky picanha, ground round shoulder beef ribs beef. Turducken ribeye andouille fatback. Porchetta prosciutto pancetta ball tip, capicola pork belly pastrami leberkas salami tri-tip biltong frankfurter pork loin shank. Chicken cupim sirloin spare ribs. Strip steak doner filet mignon, pancetta t-bone boudin jerky pig jowl corned beef shank shoulder.
					Pork belly prosciutto tenderloin cow sirloin turkey venison tongue fatback. Venison spare ribs prosciutto pork chop sirloin meatloaf kielbasa alcatra capicola shoulder. Prosciutto bacon hamburger strip steak. Beef andouille hamburger drumstick ham hock pork jerky meatball short ribs frankfurter swine turducken biltong porchetta turkey. Pancetta jowl chuck, rump hamburger short loin andouille turducken pastrami corned beef. Spare ribs ham hock pork loin, beef ribs kielbasa rump brisket. Pastrami drumstick pork belly ribeye strip steak prosciutto beef bacon.</p>
				</div>
				<div class="col-lg-2 col-md-1 col-sm-1 col-xs-10"></div>
		</div>
	</div>
</div>	
