
	<!-- main content -->
<div ng-controller="HomeCtrl">
	<div class="main container">

		<div class="row">

			<div class="col-lg-3 col-md-3">
				<h1>Your project,<br>funded.</h1>
			</div>

			<div class="imgGrid col-lg-9 col-md-9">

				<div class="row imgGridRow">
					<img class="gridImg" src ="./indexIMG.jpg">
					<img class="gridImg" src ="./indexIMG.jpg">
					<img class="gridImg" src ="./indexIMG.jpg">
				</div>

				<div class="row imgGridRow">
					<img class="gridImg" src ="./indexIMG.jpg">
					<img class="gridImg" src ="./indexIMG.jpg">
					<img class="gridImg" src ="./indexIMG.jpg">
				</div>

			</div>

		</div>

	</div>

</div>	
