
	<!-- main content -->
<div ng-controller="HomeCtrl">
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
					<h1>Your project,<br>funded.</h1>
					<a href="#"><button class="redBtn" id="homeBtn">APPLY</button></a>
		<!-- 			<div>success stories</div> -->
				</div>

				<!-- visible only on big screens and tablets-->
				<div class="col-lg-8 col-md-8 col-sm-9 visible-md visible-lg visible-sm">

					<div class="row imgGridRow">
						<img class="gridImg" src ="./indexIMG.jpg">
						<img class="gridImg" src ="./indexIMG.jpg">
						<img class="gridImg" src ="./indexIMG.jpg">
					</div>

					<div class="row imgGridRow">
						<img class="gridImg" src ="./indexIMG.jpg">
						<img class="gridImg" src ="./indexIMG.jpg">
						<img class="gridImg" src ="./indexIMG.jpg">
					</div>

				</div>


				
				<!-- visible only on small screens -->
				<div class="col-xs-12  visible-xs">

					<div class="row imgGridRow">
						<img class="gridImg" src ="./indexIMG.jpg">
						<img class="gridImg" src ="./indexIMG.jpg">
					</div>
					<div class="row imgGridRow">
						<img class="gridImg" src ="./indexIMG.jpg">
						<img class="gridImg" src ="./indexIMG.jpg">
					</div>
					<div class="row imgGridRow">
						<img class="gridImg" src ="./indexIMG.jpg">
						<img class="gridImg" src ="./indexIMG.jpg">
					</div>

				</div>




			</div>
		</div>
	</div>
</div>	
