
<div ng-controller="MenuCtrl">
	<div id="theWholeMenu">
		<span ng-click="triggerClick()">
			<div class="menuTrigger pull-right">
				<div id="menuWord" >
					menu
				</div>
					<div class="burger" id="burg">
					<span id="s0" ></span>
					<span id="s1" ></span>
					<span id="s2" ></span>
					</div>
			</div>
		</span>	
		
		<!-- menu -->

		<div class="menu" id="myMenu">
			<div id="menuLinksGroup">
				<a onclick=scrollDown(); href="index.html#about-mission">about</a>
				<a href="successes.html">success stories</a>
				<a href="elementaryDramaFund.html">elementary drama fund</a>
				<a href="apply.html">apply</a>
			</div>
		</div>
	</div>
	<div id="bodyOverlay"></div>
</div>



