
<div ng-controller="MenuCtrl">	

	<!-- top navigation (logo + menuTrigger) -->
	
	<div class="topBar container">
	
		<!-- menu trigger section-->

		<div ng-click="toggleFunc()" class="menuTrigger pull-right">
			<div id="menuWord">menu</div>
			<img id="hamburger" src="./hamburger.png"> 
		</div>

	</div>
	
	<!-- menu -->
	<div ng-show="visibleMenu"  class="menu">
		<div class="menuHead">
		</div>
		<ul>
			<li class="menuItem">about</li>
			<li class="menuItem">success stories</li>
			<li class="menuItem">elementary drama fund</li>
			<li class="menuItem">apply</li>
		</ul>
	</div>	


</div>



