<div class="dropdown" id="dropdown">
	<button class="btn purpleDropdown dropdown-toggle" type="button" data-toggle="dropdown">Successes
	<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a href="#education" class="education">Education</a></li>
		<li><a href="#arts" class="arts">Arts</a></li>
		<li><a href="#aidsSupport" class="aidsSupport">AIDS Support</a></li>
		<li><a href="#womenFamily" class="womenFamily">Women & Family</a></li>
		<li><a href="#environment" class="environment">Environment</a></li>
		<li><a href="#homelessness" class="homelessness">Homelessness</a></li>
	</ul>
</div>